<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <style> 
    .header {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1> Welcome {{user.first_name}} !</h1>
            <a href="/dashboard"> Dashboard </a>
            <a href="/logout"> Logout </a>
        </div>
        <div class="show_recipe">
            Description = {{recipe.description}}
            Unser 30 Min = {{under30}}
            Instruction = {{recipe.instruction}}
        </div>
    </div>
</body>
</html>